<div id="layoutSidenav_nav" ng-include="'partials/includes/sidenav_top.html'"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" ng-include="'partials/includes/sidenav.html'"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">To-do List</h1>
                <ol class="breadcrumb mb-4">
                    <!-- <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Sidenav Light</li> -->
                    <li class="breadcrumb-item active">To-do List</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <!-- <div class="panel-heading">User Information</div> -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom: 10px;">
                                        <div class="col-md-6" style="float: left;">
                                            <div class="input-group">
                                                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 pull-right">
                                            <button type="button" class="btn btn-sm btn-primary">Create New</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Table -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>John</td>
                                        <td>Carter</td>
                                        <td>johncarter@mail.com</td>
                                        <td>2020-04-03</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Peter</td>
                                        <td>Parker</td>
                                        <td>peterparker@mail.com</td>
                                        <td>2020-04-03</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>John</td>
                                        <td>Rambo</td>
                                        <td>johnrambo@mail.com</td>
                                        <td>2020-04-03</td>
                                        <td></td>
                                    </tr>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>  