<div id="layoutSidenav_nav" ng-include="'partials/includes/sidenav_top.html'"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" ng-include="'partials/includes/sidenav.html'"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">To-do List</h1>
                <ol class="breadcrumb mb-4">
                    <!-- <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Sidenav Light</li> -->
                    <li class="breadcrumb-item active">To-do List</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <!-- <div class="panel-heading">User Information</div> -->
                            <div class="panel-body">
                                <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <input type="text" name="user_search" ng-model="user_search" class="form-control" placeholder="Search for..."/>
                                            </div>
                                            <!-- <div class="input-group">
                                                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <select class="form-control" id="created_by" name="created_by" ng-model="created_by" ng-change="getUserTodoList();">
                                                    <option value="">Select User</option>
                                                    <option ng-repeat="(key, user) in users" value="{{user.user_id}}">{{user.first_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="btn btn-primary" ng-click="getUserTodoList();">Search</button>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="btn btn-warning" ng-click="clearSearch();">Clear</button>
                                        </div>
                                        <div class="col-md-3 pull-right">
                                            <button type="button" class="btn btn-success" ng-click="addTask();">Add Task</button>
                                        </div>
                                </div>
                            </div>
                            <!-- Table -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Created By</th>
                                        <th>Created On</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <!-- <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>John</td>
                                        <td>Carter</td>
                                        <td>johncarter@mail.com</td>
                                        <td>2020-04-03</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Peter</td>
                                        <td>Parker</td>
                                        <td>peterparker@mail.com</td>
                                        <td>2020-04-03</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>John</td>
                                        <td>Rambo</td>
                                        <td>johnrambo@mail.com</td>
                                        <td>2020-04-03</td>
                                        <td></td>
                                    </tr>
                                </tbody> -->
                                <tbody>
                                    <tr dir-paginate="(key,task) in todolist|itemsPerPage:5" total-items="totalItems" current-page="pagination.current">
                                        <td>{{(key+start_from+1)}}</td>
                                        <td>{{task.title}}</td>
                                        <td>{{task.description}}</td>
                                        <td>{{task.first_name}}</td>
                                        <td>{{task.created_on}}</td>
                                        <td ng-if="user_id!=task.user_id"><a ng-href="#!/write-comment/{{task.todo_id}}">Write Comment</a></td>
                                        <td ng-if="user_id==task.user_id"><a class="btn btn-default">--</a></td>
                                    </tr>
                                </tbody> 
                            </table>
                            <dir-pagination-controls boundary-links="true" class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="partials/templates/dirPagination.html" ></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<ng-include src="'partials/includes/popups.html'"></ng-include>
